.home{
    width: 100%;
	background-color: #ff4500;
	animation: change-color-anim 30s linear infinite;
}

@keyframes change-color-anim {
	0%,100%{
		background-color: #0dcbe4;
	}
	20%{
		background-color: #7fff00;
	}
	40%{
		background-color: #0091EA;
 }
	60%{
		background-color: #0bdba7;
	}
	80%{
		background-color: #ff69b4;
	}
}
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:absolute;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  .content h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }