@import url('https://fonts.googleapis.com/css?family=Sacramento');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:absolute;
    right:-50%;
    top: 65px;
    display: block;
    height: 700px;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:absolute;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  .content h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

#home h1 img{
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 65px;
    margin: 0 auto;
}

#gnav{
    display: flex;
}

.gnav_list{
    display: flex;
    justify-content: space-between;
    width: 600px;
}

nav ul{
    list-style: none;
}

.gnav_list li{
    list-style: none;
    display: flex;
    align-items: center;
}

.gnav_list li a{
    font-size: 20px;
    color: #BBBBBB;
    text-decoration: none;
}



.skills,.hobbies{
    background-color: #EEEEEE;
}

.profile,.products{
    color: #666666;
    background-color: #ffffff;
}


.home,.profile_content,.skill_content,.product_content,.hobby_content{
    display: flex;
    min-height: 700px;
    align-items: center;
    justify-content: center;
}

.home_content{
    text-align: center;
}

.home_content h1 h2{
    font-family: 'Sacramento', cursive;
}

.title{
    color: #000000;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

.profile_content h1 img{
    border-radius: 300px;
    width: 350px;
    height: 350px;
}

.profile_right_content,.product_right_content{
    padding-left: 80px;
}

.profile_right_content p{
    font-size: 20px;
}

.product_right_content p{
    width: 740px;
    font-size: 15px;
}

.skill{
    width: 320px;
    margin-left: 30px;
}

.skill_content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill_content .skill p .label{
    border-bottom: red;
    display: inline-block;
    width: 7em;
}

.product,.hobby{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_content h1 img{
    border:2px solid #ccc;
    border-radius: 10px;
    width: 310px;
    height: 450px;
}

.hobby h1 img{
    border:2px solid #ccc;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}






#page-top {
	width:		64px;
	height:		64px;
	right:		20px; 
	bottom:		20px; 
	border:		1px solid rgba(0,0,0,0.4);
	box-shadow:	1px 1px 1px #ccc;
	border-radius:	50%;
	background-color:rgba(0,0,0,0.4);
	display:	none; 
	position:	fixed;
    opacity: 0.6; 
}

#page-top:hover{
    opacity: 1.0;
    transition: 1.0s ;
}

#page-top:after {
	content:	"";
	width:		20px;
	height:		20px;
	top:		20px;
	left:		18px;
	transform:	rotate(-45deg);
	position:	absolute;
}

#page-top:after {
	border-top:	8px solid #fff;
	border-right:	8px solid #fff;
}

#page-top:before {
	content:	"";
	width:		32px;
	height:		32px;
	top:		18px;
	left:		28px;
	position:	absolute;
	border-left:	8px solid #fff;
}


