@import url('https://fonts.googleapis.com/css?family=Sacramento');

body{
    margin: 0;
}

#home h1 img{
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 65px;
    margin: 0 auto;
}

#gnav{
    display: flex;
}

.gnav_list{
    display: flex;
    justify-content: space-between;
    width: 600px;
}

nav ul{
    list-style: none;
}

.gnav_list li{
    list-style: none;
    display: flex;
    align-items: center;
}

.gnav_list li a{
    font-size: 20px;
    color: #BBBBBB;
    text-decoration: none;
}

.home,.skills{
    background-color: #EEEEEE;
}

.profile{
    color: #666666;
    background-color: #ffffff;
}


.home,.profile_content,.skill_content,.product_content{
    display: flex;
    min-height: 700px;
    align-items: center;
    justify-content: center;
}

.home_content{
    text-align: center;
}

.home_content h1 h2{
    font-family: 'Sacramento', cursive;
}

.title{
    color: #000000;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

.profile_content h1 img{
    border-radius: 300px;
    width: 350px;
    height: 350px;
}

.profile_right_content{
    padding-left: 40px;
}

.profile_right_content p{
    font-size: 20px;
    padding-left: 40px;
}

.skill{
    width: 320px;
    margin-left: 30px;
}

.skill_content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill_content .skill p .label{
    border-bottom: red;
    display: inline-block;
    width: 7em;
}

.product_content h1 img{
    border:2px solid #ccc;
    border-radius: 10px;
    width: 300px;
    height: 400px;
}

